<div id='skecty'>

  <span id="mainNavLeft">
    <a href="/sites">To bee sites :)</a>
  </span>
  <span id="mainNavRight">
    <a href="/walks">To nature walks</a>

  </span>
  <span id="mainNavHike">
    <a href="https://blog.liftopia.com/10-essential-hiking-tips-beginner-hike/" target="_blank">Hiking Tips</a>
  </span>
  <span id="mainNavBees">
    <a href="http://www.greenpeace.org/usa/sustainable-agriculture/save-the-bees/" target="_blank">Save the Freakin bees!</a>
  </span>
</div>
<h3>Welcome to bee-moving</h3>
<p>
  going to be a nice intro with picture and will go at the bottom
</p>
