<head>
  <style>
  #map {
    height: 400px;
    width: 100%;
  }
  </style>
</head>
<h3 id="mainWelcome">Welcome to Bee Moving!</h3>

<div class="quote">
  Aerodynamically, the bumble bee shouldn't be able to fly, but the bumble bee doesn't know it so it goes on flying anyway.
  -unknown
</div>
<div class="quote">
  “Handle a book as a bee does a flower, extract its sweetness but do not damage it.”
― John Muir
</div>
<div class="quote">
  “If the bee disappeared off the face of the earth, man would only have four years left to live.”
― Maurice Maeterlinck, The Life of the Bee
</div>
<div class="quote">
  The common bees will never use their sting upon the queen; if she is to be disposed of, they starve her to death, and the queen herself will sting nothing but royalty, nothing but a rival queen. -John Burroughs

</div>
<div class="quote">
  The common bees will never use their sting upon the queen; if she is to be disposed of, they starve her to death, and the queen herself will sting nothing but royalty, nothing but a rival queen. -Patti Smith
</div>
<div id="app">
</div>
<div class="mainQuote">
  <%= javascript_pack_tag 'application' %>
</div>
<div id="map"/>
<script>
      function initMap() {
        lati = 5
        long = 6
        fetch('http://api.open-notify.org/iss-now.json')
        .then(response => {
          if (response.ok) {
            return response;
          } else {
            let errorMessage = `${response.status} (${response.statusText})`,
                error = new Error(errorMessage);
            throw(error);
          }
        })
        .then(response => response.json())
        .then(body => {
          long = body.iss_position.longitude,
          lati = body.iss_position.latitude,

          console.log('firstT')
        })


        uluru = {lat: lati, lng: long};
        console.log("firstN")
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM5J8WKGkt4tjK2IKKPN2d5RbQthey6yQ&callback=initMap">
    </script>
