
<h3>Welcome to bee-moving</h3>
<div>
  Aerodynamically, the bumble bee shouldn't be able to fly, but the bumble bee doesn't know it so it goes on flying anyway.
  -unknown
</div>
<div>
  “Handle a book as a bee does a flower, extract its sweetness but do not damage it.”
― John Muir
</div>
<div>
  “If the bee disappeared off the face of the earth, man would only have four years left to live.”
― Maurice Maeterlinck, The Life of the Bee
</div>
