<head>
  <script src="application.js"></script>
  <style>
  #map {
    height: 400px;
    width: 100%;
  }
  </style>
</head>
<h3 id="mainWelcome">Welcome to Bee Moving!</h3>

<div class="quote">
  Aerodynamically, the bumble bee shouldn't be able to fly, but the bumble bee doesn't know it so it goes on flying anyway.
  -unknown
</div>
<div class="quote">
  “Handle a book as a bee does a flower, extract its sweetness but do not damage it.”
― John Muir
</div>
<div class="quote">
  “If the bee disappeared off the face of the earth, man would only have four years left to live.”
― Maurice Maeterlinck, The Life of the Bee
</div>
<div class="quote">
  The common bees will never use their sting upon the queen; if she is to be disposed of, they starve her to death, and the queen herself will sting nothing but royalty, nothing but a rival queen. -John Burroughs

</div>
<div class="quote">
  The common bees will never use their sting upon the queen; if she is to be disposed of, they starve her to death, and the queen herself will sting nothing but royalty, nothing but a rival queen. -Patti Smith
</div>
<div id="app">
</div>
<div class="mainQuote">
  <%= javascript_pack_tag 'application' %>
</div>
<div id="map"/>
<script>

</script>
