/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body {
   background-image: url('bee-backround.jpg');
   background-size: cover;
   background-repeat: no-repeat;
 }

 #oneWalk{
   border: 3px solid black;
   background: white;
   text-align: center;
   margin: auto;
   width: 600px;
   margin-bottom: 5px;
   padding: 2px;
 }
 #walkTitle {
   background: green;
   border: 1px solid black;
 }
 #siteBox {
   border: 1px solid black;
   background: white;
   width: 200px;
 }
 #siteHolder{
   border: 1px solid black;
   background: green;
   width: 400px;
 }
 #spanIt{
   text-align: right;
 }
 #skecty {
   text-align: center;
   background: linear-gradient(white, lightgreen 30%);
   width: 600px;
   margin: auto;
   border-radius: 10px
 }
 #mainNavLeft{
   background: #A240FF;
   border-left: 2px solid #4114CC;
   border-right: 2px solid #4114CC;
   margin: 5px;
 }
 #mainNavLeft a{
   color: #9EFF00;
 }
 #mainNavBees{
   background: #A240FF;
   border-left: 2px solid #4114CC;
   border-right: 2px solid #4114CC;
   margin: 5px;
 }
 #mainNavBees a{
color: #9EFF00;
 }
 #mainNavRight a{
   color: #9EFF00;
 }

 #mainNavHike a{
   color: #9EFF00;
 }
 #mainNavHike{
   background: #A240FF;
   border-left: 2px solid #4114CC;
   border-right: 2px solid #4114CC;
   margin: 5px;
 }
 #mainNavRight{
   background: #A240FF;
   border-left: 2px solid #4114CC;
   border-right: 2px solid #4114CC;
   margin: 5px;
 }
 #linkRight{
   text-align: right;
   font-size: 10px;
 }
