/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 /*  Main substance*/

.SiteColums{
  text-align: center;
}
#genButton{
  background: linear-gradient(white, lightblue);
  color: black;
  font-size: 20px;
  padding: 4px;
  border-radius: 10px;
  font-family: "Comic Sans MS";
}
#zeroM{
  margin: 0px;
  padding: 3px;
  background: #BB6789;
  border: 1px solid black;
}
.reviewOut{
  background: lightblue;
  text-align: center;
  border: 2px solid black;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
}
#showReviews{
  background: #E2E7BF;
  width: 200px;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px;

  font-size: 25px;
}
#oneReview{
  background: lightgreen;
  padding: 2px;
  margin: 5px;
}
#butThree{
  background: #A8D3C1;
  margin: 10px;
}


 #mainWelcome{
   width: 400px;
   margin: auto;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   background: #FCEA92;
   border: 1.5px solid #CC6D4A;

 }
 #siteShow{
   margin-top: 0.5em;

 }

 .quote{
   border: 2px solid #CC6D4A;
   background: lightblue;
   padding: 5px;
   margin: auto;
   margin-top: 10px;
   border-radius: 15px;
   width: 1000px;
 }

 /* Titles */
 h1{
   text-align: center;
   background: #81BE75;
 }
 h2{
   text-align: center;
   background: #B39CC4;
 }
 h3{
   text-align: center;
   background: #B39CC4;
   width: auto;
   margin: 0.5em;
 }

 #oneWalk{
   border: 3px solid black;
   background: white;
   text-align: center;
   margin: auto;
   width: 600px;
   margin-bottom: 5px;
   padding: 2px;
 }
 #walkTitle {
   background: #A8B9BD;
   border: 1px solid black;

 }
 #siteBox {
   border: 1px solid black;
   background: pink;
   overflow: hidden;
   padding: 3px;
 }
 #siteTitle{
   background: #888EF7;
   text-align: center;
   margin: auto;
 }
 #siteHolder{
   border: 1px solid black;
   background: white;
   margin: 5px;
 }

 #showDescription{
   background: #D8E2A6;
   color: black;
 }
 #claimation{
   background: #FDF4A6;
   color: black;
 }
 #skecty {
   text-align: center;
   background: linear-gradient(white, lightgreen 30%);
   width: 600px;
   margin: auto;
   border-radius: 10px;

 }
 #mainNavLeft{
   background: #81BE75;
   border-left: 10px solid #6D72A9;
   border-right: 10px solid #6D72A9;
   margin: 5px;
   padding: 2px;
   padding: 2px;
   border-radius: 5px;
 }

 #mainNavLeft a{
   color: white;
 }
 #mainNavBees{
   background: #81BE75;
   border-left: 10px solid #6D72A9;
   border-right: 10px solid #6D72A9;
   margin: 5px;
   padding: 2px;
   border-radius: 5px;

 }
 #mainNavBees a{
color: white;
 }
 #mainNavRight a{
   color: white;
 }

 #mainNavHike a{
   color: white;
 }
 #mainNavHike{
   padding: 2px;
   background: #81BE75;
   border-left: 10px solid #6D72A9;
   border-right: 10px solid #6D72A9;
   margin: 5px;
   padding: 2px;
   border-radius: 5px;
 }

 #nameGreen{
   color: white;
   background: #81BE75;
   font-weight: bold;
 }
 #mainNavRight{
   padding: 2px;
   background: #81BE75;
   border-left: 10px solid #6D72A9;
   border-right: 10px solid #6D72A9;
   margin: 5px;
   padding: 2px;
   border-radius: 5px;
 }
 #linkRight{
   padding: 2px;
   text-align: right;
   font-size: 10px;
 }
 ul.right{
   position: static;

 }
 .top-bar{
   background: #F2ECDF;
   margin: 0px;

 }
 .right{
   margin: 0px;
 }
 .top-bar-section{
   margin: 0px;
 }


 #divWidth{
   width: 200px;
 }
 nav.top-bar{
   width: cover;
 }



 .middle-bar-selection{
   text-align: center;
   margin-right: 200px;
   width: auto;

 }
 .name{
   background: green;
 }
 #testy{
   text-align: right;
 }
 /* walk show page */
 #walkShowTitle{
   background: white;
   width: 700px;
   margin: auto;
   text-align: center;
   border: 1px solid black;
   padding: 3px;

 }
 #walkShowTitle .one{
   background: lightgreen;
 }
 .deleteButton{
   background: blue;
   padding: 3px;
   margin: 3px;
 }
 .editButton{
   background: lightpink;
   padding: 3px;
   margin: 3px;
 }
 #noWay {
   color: orange;
   font-size: 50px;
 }
 #someWay{
  color: lightgreen;
  font-size: 50px;
 }
 #siteCount{
   background: lightpink;
   border: 1px solid black;
 }
 /* walk show page */
 .siteShow{
   margin: auto;
   background: white;
   width: 1000px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 5px;
   border: 1px solid black;
   margin-top: 10px;
 }
 .space{
   height: 500px;
 }
 #scrollText{
   width: 100px;
   margin: auto;
   text-align: center;
   background: white;
   font-size: 20px;
 }
 #scroll{
   text-align: center;
   width: 0px;
   height: 0;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-top: 20px solid #f00;
   margin: auto;
 }

 #whatFun{
   background: #55AC7F;
 }
 html{
   background: #5AABD2;
 }
 body{
   background: #5AABD2;
 }
 nav.top-bar{
   background: #BB88E7;
 }
 #noFun{
   background: #55AC7F;
 }
 #someFun{
   background-image: #55AC7F;
 }

 .siteShow h5{
   background: #6F6EAC;
   padding: 5px;
 }
 .siteShow ul{
   padding: 5px;
   list-style-type: none;
 }
 #teamLiquid{
   border: 1px solid black;
   background: orange;
   padding: 2px;
 }

 #siteWalkList{
   background: lightblue;
 }
 #siteTags{
   padding: 5px;
   margin: 5px;
   background: silver;
 }
 .sites h1{
   background: #FADE8B;
   width: 400px;
   margin: auto;
   font-family: "Comic Sans MS";
   border: 1px solid black;
   margin-top: .5em;
   margin-bottom: .5em;
 }
 .sites{
   background: #FADE8B;
   width: 400px;
   margin: auto;
   font-family: "Comic Sans MS";
   border: 1px solid black;
   margin-top: .5em;
   margin-bottom: .5em;
 }
 /* buttons */
 .butty-the-button{
   background: yellow;
   font-size: 20px;
   padding: 5px;
 }
 .butty-the-button a{
   color: red;
 }
 .form{
   width: 1000px;
   margin: auto;
   background: lightblue;
   padding: 5px;
 }
.flash.flash-notice{
  color: white;
  font-size: 12px;
  text-align: center;
  background: lightgreen;
  border: 3px solid #73F44D;
  width: 300px;
  margin: auto;
  margin-top: 5px;
  padding: 2px;
  border-radius: 5px;
}
.flash.flash-error{
  color: black;
  font-size: 12px;
  text-align: center;
  background: white;
  border: 3px solid red;
  width: 300px;
  margin: auto;
  padding: 1px;
  border-radius: 5px;
}
