

<body id="whatFun">
<div class="siteShow">
  <h1><%= @site.title %></h1>

  <br>
  <%= link_to "Edit site", "/sites/#{@site.id}/edit" %>
  <br>
  <%= link_to "Delete", site_path(@site), method: :delete, data:{confirm: "You sure?"}  %>
</div>
</body>
